@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* style for body  */
  body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* Shared style section start */


  nav, section,  main {
    max-width: 1440px;
    margin: 0 auto;
  }

  /* common display property  */
  .display-flex{
    display: flex;
  }

  /* Header and footer section background color  */
  .secondary-bg{
    background-color: rgba(255, 144, 14, 0.1);
  }


  /* Font color  */
  .dark{
    color: #131313;
  }
  .dark-gray{
    color: #424242;
  }
  .light-gray{
    color: #727272;
  }

  /* Common style for every title  */
  .title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
  }

  /* style for every description  */
  .description{
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
  }

  /* Shared style section end  */


  /* Header section start  */
  header{
    margin-bottom: 47px;
  }
.navbar{
    
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .navbar .nav-link{
    text-decoration: none;
    font-size: 1.125rem;
    line-height: 26px;
    font-weight: 500;
    margin-right: 40px;
  }
  .navbar .nav-item{
    list-style-type: none;
    
  }

  .banner{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .banner-content{
    max-width: 862px;
    
  }
  .banner .banner-title{
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 32px;
  }
  .banner .banner-description{
    text-align: center;
    margin-bottom: 32px;
  }


 

  .btn{
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 21px 25px;
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    cursor: pointer;
  }

  .banner-img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 83px;
  }


  /* Make responsive Header section  */
  @media screen and (max-width:576px) {
    .navbar, .nav-links{
      flex-direction: column;
    }
    
    .nav-item{
      text-align: center;
    }
    .banner{
      padding: 5px;
    }
  }
  @media screen and (min-width:576px) and (max-width:992px) {
    
    .navbar, .nav-links{
      flex-direction: row;
    }
    .nav-item{
      text-align: center;
    }
    .banner{
      padding: 10px;
    }
  }

  /* Main section start here  */

  /* Features section  */

  .teams{
    align-items: center;
    margin-bottom: 130px;
  }
  .teams .team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .features{
    max-width: 537px;
    margin-left: 73px;
  }

  .features .feature-title{
    margin-bottom: 24px;
  }
  .features .features-description{
    margin-bottom: 32px;
  }
  
  #quick-list{
    font-weight: 500;
  }
  #highlight{
    font-weight: 700;
    color: #FF900E;
  }
  .features .btn{
    margin: 0;
  }

  @media screen and (max-width: 576px) {

    .teams{
      flex-direction: column;
    }
    .teams .team-image-container{
      grid-template-columns: repeat(1, 1fr);
      /* width: 100%; */
      gap: 10px;
    }
    .features{
      margin: 0 auto;
      padding: 10px;
      text-align: center;
    }
    .features .btn{
      margin: 0 auto;
    }

  }
  @media screen and (min-width: 576px) and (max-width:992px) {
    .teams{
      flex-direction: column;
    }
    .teams .team-image-container{
      
      gap: 20px;
    }
    .features{
      margin: 0 auto;
      padding: 10px;
      text-align: center;
    }
    .features .btn{
      margin: 0 auto;
    }
  }

  /* Feature you will enjoy section  */

  main .enjoy{
    justify-content: space-between;
    gap: 54px;
    box-sizing: border-box;
    /* position: relative; */
    margin-bottom: 130px;
  }
  .enjoy-title{
    margin-bottom: 24px;
    line-height: 53px;
    padding-left: 21px;
    margin-bottom: 24px;
    border-left: 5px solid #FF900E;
    
  }
  .enjoy .enjoy-description{
    margin-bottom: 30px;
  }
  
  .feature-container{
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    
  }

  .feature-container .content-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  .feature-container .content-description{
    margin: 0px;
  }
  
  .enjoy .enjoy-feature-image{
    margin-left: 92px;
    margin-bottom: 90px;
    position: relative;
  }
  /* 10 Years experience section */
  .enjoy .experience{
    background-color: #FF900E;
    padding: 45px 42px;
    border-radius: 8px;
    position: absolute;
    bottom: -100px;
    left: -80px;

  }
  .enjoy .experience-year{
    font-size: 65px;
    font-weight: 700;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
  }
  .enjoy .experience-description{
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;

  }

  /* Make responsive Future you will enjoy section  */

  @media screen and (max-width: 576px) {
    main .enjoy{
      flex-direction: column;
      justify-content: center;
      padding: 5px;
      
    }
    
    .enjoy .enjoy-feature-image{
      width: 100%; 
      margin-left: 0px; 
    }
    .enjoy .enjoy-image{
      width: 100%;
    }
    .enjoy .experience{
      left: 0;
      bottom: -200px;  
    }
  }
  @media screen and (min-width: 576px) and (max-width:992px) {
    main .enjoy{
      flex-direction: column;
      justify-content: center;
      padding: 5px;
      
    }
    .enjoy-grid{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
    .enjoy .enjoy-feature-image{
      margin: 0px; 
    }
    .enjoy .enjoy-image{
      width: 100%;
    }
    .enjoy .experience{
      left: 0;  
      bottom: 0;
    }
  }
  
  
