@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* style for body  */
  body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* Shared style section start */


  nav, section,  main {
    max-width: 1440px;
    margin: 0 auto;
  }

  /* common display property  */
  .display-flex{
    display: flex;
  }

  /* Header and footer section background color  */
  .secondary-bg{
    background-color: rgba(255, 144, 14, 0.1);
  }

  /* Font color  */
  .dark{
    color: #131313;
  }
  .dark-gray{
    color: #424242;
  }
  .light-gray{
    color: #727272;
  }

  /* Common style for every title  */
  .title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
  }

  /* style for every description  */
  .description{
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
  }

  /* Shared style section end  */


  /* Header section start  */
.navbar{
    
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .navbar .nav-link{
    text-decoration: none;
    font-size: 1.125rem;
    line-height: 26px;
    font-weight: 500;
    margin-right: 40px;
  }
  .navbar .nav-item{
    list-style-type: none;
    
  }

  .banner{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .banner-content{
    max-width: 862px;
    
  }
  .banner .banner-title{
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 32px;
  }
  .banner .banner-description{
    text-align: center;
    margin-bottom: 32px;
  }
  button{
    cursor: pointer;
  }

  .btn{
    margin-bottom: 50px;
  }

  button{
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 21px 25px;
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    margin: 0 auto;
    text-align: center;
  }

  .banner-img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 83px;
  }

  /* Make responsive Header section  */
  @media screen and (max-width:576px) {
    .navbar, .nav-links{
      flex-direction: column;
    }
    .nav-item{
      text-align: center;
    }
    .navbar .nav-link{
      /* margin: 0 auto; */
    }
  }
  
